@import url(https://fonts.googleapis.com/css?family=Edu+SA+Beginner:regular,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bodyBgFrom: #c2f5e0;
    --bodyBgTo: #f7aeb5;
    --mainBg: #fff4f4;
    --mainText: #201f24;
  }
  #root {
    background-image: url("../public/bgPattern.svg");
  }
  body {
    width: 100vw;
    height: 100vh;
  }
  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

input[type="range"] {
  @apply bg-transparent border-none outline-none w-full appearance-none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff6a;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative; 
  top: -3px;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff6a;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
  top: -3px;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply h-3 w-full cursor-pointer appearance-none rounded-2xl bg-gradient-to-r from-bodyBgTo to-bodyBgFrom font-bold transition-all duration-300 ease-in-out !border !border-black border-solid;
}
